header{
    background: rgb(182, 182, 182);
    padding: 10px;
    background-image: url("../images/flywheel.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin:auto;
}
h1{
    text-align: center;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
h2{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}
section{
    width: 75%;
}
a{
    color: rgb(0, 36, 199);
}
img{
    display: block;
    border: rgb(0, 0, 0) solid 3px;
    margin: 40px auto;
    width: 200px;
}
body{
    margin: 10px;
    padding: 10px;
}
nav a{
    display: inline-block;
    color:rgb(0, 0, 0);
    text-align: center;
    font-size: 110%;
    margin: 30px 8%;
    border-radius: 10px;
    padding: 20px;
    text-decoration: none;
    background: rgba(230, 230, 230, 0.2)
}
.active{
    background: rgb(255, 255, 255);
    color: rgb(4, 19, 158);
}
.left{
    background: rgb(144, 156, 29);
    display: inline-block;
    padding: 10px;
    float: left;
}
.right{
    display: inline-block;
    margin: 5px;
    background: rgb(255, 255, 255);
}
table{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    line-height: 100%;
    margin: 30px auto;
    width: 70%;
}
th{
    background-color: rgb(12, 69, 122);
    background-image: linear-gradient(rgb(48, 64, 211), rgb(203, 247, 255));
    -ms-background-image: linear-gradient(rgb(48, 64, 211), rgb(203, 247, 255));
    border-radius: 5px 5px 0 0;
    border: 1px solid rgb(48, 64, 211);
    border-bottom-width: 2px;
    padding: 10px;
}
tr{
    opacity: 0.7;
}
tr:hover{
    opacity: 1;
    color: rgb(19, 18, 18);
}
tr:first-child{
    opacity: 1;
}
td{
    text-align: center;
    padding: 5px;
    color: rgb(3, 3, 3);
    background-color: rgb(190, 241, 226);
    border-radius: 2px;
    text-shadow: 0 0 3px rgb(169, 174, 243);
    box-shadow: 0 0 2px rgb(4, 19, 158);
    border: 1px solid rgb(3, 3, 3);
}
td:first-child{
    text-align: left;
}
th:first-child{
    text-align: left;
}